@model ContactModel
@{
    ViewData["Title"] = "Alteração de Contatos";
}

<div class="text-center">

    <h1 class="display-4">Alteração de Contatos</h1>

</div>

<form asp-controller="Contact" asp-action="Update" method="post">

    <input type="hidden" asp-for="Id">

    <div class="mb-3">
        <label for="name" class="form-label">Nome:</label>
        <input type="text" asp-for="Name" class="form-control" id="name" placeholder="Nome">
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Nome:</label>
        <input type="email" asp-for="Email" class="form-control" id="email" placeholder="E-mail">
    </div>
    
    <div class="mb-3">
        <label for="phoneNumber" class="form-label">Telefone:</label>
        <input type="text" asp-for="PhoneNumber" class="form-control" id="phoneNumber" placeholder="Número de Telefone">
    </div>

    <div class="d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-primary" type="button">Alterar</button>
        <a asp-controller="Contact" asp-action="Index" role="button" class="btn btn-secondary">Voltar</a>
    </div>

</form>