@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justfy-content-md-start">
        <a href="" role="button" class="btn btn-primary">Novo Contato</a>
    </div>

    <br>
    <h1 class="display-4">Listagem de Contatos</h1>

    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">Celular</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>mark@gmail.com</td>
            <td>85 9 8888-8888</td>
            <td>
                <div class="btn-group" role="group">
                    <a href="" role="button" class="btn btn-primary">Editar</a>
                    <a href="" role="button" class="btn btn-danger">Apagar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>jacob@gmail.com</td>
            <td>85 9 8888-8888</td>
            <td>
                <div class="btn-group" role="group">
                    <a href="" role="button" class="btn btn-primary">Editar</a>
                    <a href="" role="button" class="btn btn-danger">Apagar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>larry@gmail.com</td>
            <td>85 9 8888-8888</td>
            <td>
                <div class="btn-group" role="group">
                    <a href="" role="button" class="btn btn-primary">Editar</a>
                    <a href="" role="button" class="btn btn-danger">Apagar</a>
                </div>
            </td>
        </tr>
    </tbody>
    </table>
</div>
