.field-validation-error {
  color: red;
}

.close-alert {
  position: absolute;
  right: -10px;
  top: -15px;
  border-radius: 15px;
  width: 30px;
  height: 31px;
}

.DefaultProfilePicture {
  max-width: 50px;
  border-radius: 100%;
}
